**/.env
**/.DS_Store
.idea
tools_metadata*/
src/rumble_query.rq
src/tools_metadata.db
src/codemeta.jsonl
**/__pycache__
**/venv
src/ineo-content
src/data
src/processed_jsonfiles
src/vocabs
src/properties
src/ineo_get.py
src/from_api
src/researchdomains
src/backup_processed_jsonfiles
src/deleted_documents/test2_delete.json
src/deleted_documents/test3_delete.json
src/deleted_documents/test_delete.json
src/deleted_documents/deleted_tool_ids.json
src/logs
