**/.env
**/.DS_Store
.idea
src/basex_data
tools_metadata*/
src/rumble_query.rq
src/tools_metadata.db
src/codemeta.jsonl
**/__pycache__
**/venv
src/ineo-content
src/data
src/processed_jsonfiles_tools
src/processed_jsonfiles_datasets
src/vocabs
src/properties
src/ineo_get.py
src/from_api
src/researchdomains
src/backup_processed_jsonfiles
src/deleted_documents
src/logs
src/out
src/backups
src/processed_jsonfiles_datasets_copy
src/processed_jsonfiles_tools_copy
src/get.sh
src/props.sh
src/HI
test
**/test*.py
config.yml
data/
.venv/
basex_data_volume
