networks:
  traefik-public:
    external: true


services:
  ineo-sync:
#    image: registry.diginfra.net/tsd/ineo-sync:0.8
    image: ineo-sync:test
    container_name: ineo-sync
    volumes:
      - ./:/app
    restart: unless-stopped
    networks:
      - traefik-public

  basex:
    image: registry.diginfra.net/tsd/basex:latest
    container_name: basex
    restart: unless-stopped
    volumes:
      - ./data:/data
      - ./basex_data_volume:/basex/dbdata
    ports:
      - "8082:8080"
    networks:
      - traefik-public

  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - traefik-public