requests
beautifulsoup4
jsonlines
jsondiff
pyyaml
pretty-errors
python-dotenv
pytest 
icecream
tqdm
markdown
git+https://github.com/kostyachum/python-markdown-plain-text.git#egg=plain-text-markdown-extention